In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import expr, count,sum,avg, explode,split,col

spark = SparkSession.builder.appName("lab1").getOrCreate()

/home/lplab/anaconda3/lib/python3.7/site-packages/pyspark/context.py:317: FutureWarning: Python 3.7 support is deprecated in Spark 3.4.
  warnings.warn("Python 3.7 support is deprecated in Spark 3.4.", FutureWarning)

In [2]:
df = spark.read.option('header', True).csv("./sample2.csv")

In [3]:
df.show()

+----+---+
|name|age|
+----+---+
| tim| 20|
| tom| 22|
| bob| 21|
|tina| 20|
| rob| 23|
| jim| 21|
|john| 22|
+----+---+

### Q1

In [4]:
df.filter(df.age==22).show()

+----+---+
|name|age|
+----+---+
| tom| 22|
|john| 22|
+----+---+

In [5]:
df.withColumn("age",expr("age")+1).show(3)

+----+----+
|name| age|
+----+----+
| tim|21.0|
| tom|23.0|
| bob|22.0|
+----+----+
only showing top 3 rows

In [6]:
df.withColumn("age",expr("age").cast("Integer"))

DataFrame[name: string, age: int]

### Q2

In [7]:
df.select(count(df.name)).show()

+-----------+
|count(name)|
+-----------+
|          7|
+-----------+

In [8]:
df.show(3,False,True)

-RECORD 0---
 name | tim
 age  | 20
-RECORD 1---
 name | tom
 age  | 22
-RECORD 2---
 name | bob
 age  | 21
only showing top 3 rows

### Q3

In [9]:
df.select(sum("age")).show()

+--------+
|sum(age)|
+--------+
|   149.0|
+--------+

In [10]:
df.select(avg("age")).show()

+------------------+
|          avg(age)|
+------------------+
|21.285714285714285|
+------------------+

### Q4

In [11]:
data = [("James","Educative","Engg","USA"),
    ("Michael","Google",None,"Asia"),
    ("Maria","Netflix","Finance","Ukraine"),
    (None, None, None, None)
  ]

columns = ["name","company","dept","country"]
df1 = spark.createDataFrame(data = data, schema = columns)


df1.repartition(1)\
   .write.format("com.databricks.spark.csv")\
   .option("header", "true")\
   .save("data")

### Q5

In [14]:
df2=spark.read.text("text.txt")

df2_count=(
  df2.withColumn('word', explode(split(col('value'), ' ')))
    .groupBy('word')
    .count()
    .sort('count', ascending=False)
)

df2_count.show()

+----+-----+
|word|count|
+----+-----+
|  be|    2|
|  to|    2|
| not|    1|
|  or|    1|
+----+-----+